<section class="services">
  <div class="container">
    <div class="identity_design">
      <div class="heading identity_design_heading">
        <div class="icon identity_design_icon"></div>
        <div class="title identity_design_title">identity design</div>
      </div>
      <div class="content identity_content">
        <p>
          Brand strategy is a long-term plan for the development of a successful
          brand. We develop strategies that assist your idea, business and or
          corporation evoke emotions, affinity with your target audience.
        </p>
        <p>
          Identity Design solutions Branding Strategies that are expertly
          crafted to surpass your expectations. Your Identity is the most
          important aspect of youridea /business that make you visible to your
          target audience and we carve yours to endure the test of time....
        </p>
      </div>
    </div>

    <div class="definition">
      <div class="heading definition_heading">
        <div class="icon definition_icon">
          <iconify-icon icon="mdi:account" />
          <!-- <Icon name="MdiAccount" /> -->
        </div>
        <div class="title definition_title">definition</div>
      </div>
      <div class="content definition_content">
        <p>
          Define how you want to be perceived: When your customers have finished
          using your product or service, how do you want them to describe their
          experience? See your brand as your promise to your customers – a
          promise that’s different from your competitors.
        </p>
      </div>
    </div>

    <div class="logo_design">
      <div class="heading logo_design_heading">
        <div class="icon logo_design_icon"></div>
        <div class="title logo_design_title">Logo Design</div>
      </div>
      <div class="content logo_content">
        <p>
          Logos are symbols made up of text and images that help identify brands
          we like. But they can be so much more! The logo we design are unique,
          memorable and communicate your business idea, vision, and personality
          in the most effective manner within the shortest amount of time.
        </p>
      </div>
    </div>

    <div class="marketing_assets">
      <div class="heading marketing_assets_heading">
        <div class="icon marketing_assets_icon"></div>
        <div class="title marketing_assets_title">marketing Assets</div>
      </div>
      <div class="content marketing_content">
        <p>
          Marketing Assets Marketing assets are a collection of media, content
          as well as information that is compiled to support marketing and sales
          activities. A few common types of marketing assets but not limited to.
        </p>
      </div>
    </div>

    <div class="personal_branding">
      <div class="heading personal_branding_heading">
        <div class="icon personal_branding_icon"></div>
        <div class="title personal_branding_title">Personal Branding</div>
      </div>
      <div class="content personal_branding_content">
        <p>
          We work to promote you by highlighting your skills, personality and
          tell your story using unspoken language, words
        </p>
        <p>
          We work to differentiate you from other people, portray an image that
          people should see of you while being memorable.
        </p>
      </div>
    </div>

    <div class="corporate_branding">
      <div class="heading corporate_branding_heading">
        <div class="icon corporate_branding_icon"></div>
        <div class="title corporate_branding_title">Corporate Branding</div>
      </div>
      <div class="content corporate_branding_content">
        <p>
          Let us design an Identity for your business using awesome and unique
          combinations of color, graphics and typography in order to design
          elements that we can use across all media types.
        </p>
        <p>
          Media types include websites, marketing assets, social media profiles
          that will serve as an advocate for your brand.
        </p>
      </div>
    </div>
  </div>
</section>
