---
const {title, body, icon} = Astro.props;
---

<div class="card">
    <div class="card-title">
        <div class="card-icon">{icon}</div>
        <h4>{title}</h4>
    </div>
    <p class="card-body">{body}</p>
</div>